services:
  dozzle:
    deploy:
      labels:
        traefik.enable: "true"
        traefik.http.routers.dozzle.rule: Host(`cloudlogs.dozzle.dev`)
        traefik.http.routers.dozzle.entrypoints: websecure
        traefik.http.routers.dozzle.tls.certresolver: myresolver
        traefik.http.services.dozzle.loadbalancer.server.port: 8080
    image: amir20/dozzle:latest
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  web:
    external: true
